
.client-list{
    font-size: 16px;
    width: 100%;
    line-height: 50px;
}
.client-list tbody > td {
    padding: 0px 8px;
}
.client-list tbody > tr{
    transition: all 150ms linear;
    background: rgb(230,230,230);
}
.client-list tbody > tr:nth-child(even) {
    background: rgb(247,247,247);
}




